@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import "quill/dist/quill.snow.css"; /* Quill first */
@import "tailwindcss"; /* then Tailwind */

* {
  font-family: "Outfit", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --color-primary: #1f6f5c; /* ✅ from your logo (green) */
  --color-dark: #2c2c2c;   /* ✅ neutral dark text */
}
.bg-primary {
  background-color: var(--color-primary);
}
.text-primary {
  color: var(--color-primary);
}
.border-primary {
  border-color: var(--color-primary);
}
.hover\:bg-primary:hover {
  background-color: var(--color-primary);
}

.bg-primary\/80 {
  background-color: rgb(31 111 92 / 0.8); /* green with 80% opacity */
}
.border-primary\/40 {
  background-color: rgb(31 111 92 / 0.4);
}
.bg-primary\/10 {
  background-color: rgba(31, 111, 92, 0.1);
}

.bg-primary\/2 {
  background-color: color-mix(in oklab, var(--color-primary) 2%, transparent);
}

.border-primary\/5 {
  border-color: color-mix(in oklab, var(--color-primary) 5%, transparent);
}

.bg-primary\/10 {
  background-color: color-mix(in oklab, var(--color-primary) 10%, transparent);
}
.shadow-primary\/15 {
  --tw-shadow-color: color-mix(
    in oklab,
    color-mix(in oklab, var(--color-primary) 15%, transparent)
      var(--tw-shadow-alpha),
    transparent
  );
}
.border-primary\/30 {
  border-color: color-mix(in oklab, var(--color-primary) 30%, transparent);
}

.rich-text {
  font-size: 15px;
}

.rich-text p {
  margin-bottom: 16px;
  color: var(--color-dark);
}

.rich-text h1 {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-dark) !important;
  margin: 32px 0;
}

.rich-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-dark) !important;
  margin: 24px 0;
}

.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333333 !important;
  margin: 20px 0;
}

.rich-text h4 {
  font-size: 16px;
  font-weight: 500;
  color: #444444 !important;
  margin: 16px 0;
}

.rich-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #555555 !important;
  margin: 12px 0;
}

.rich-text h6 {
  font-size: 12px;
  font-weight: 400;
  color: #666666 !important;
  margin: 8px 0;
}

.rich-text strong {
  font-weight: 700;
}

.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}

.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}

.rich-text li {
  margin-bottom: 8px;
}

.rich-text a {
  color: var(--color-primary); /* ✅ links now match your green */
}

.ql-editor {
  min-height: 300px; /* start height */
  max-height: none; /* let it grow */
  overflow-y: visible;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}